<div class="headerTitle"><h3>{{headerTitle}}</h3></div>
<dx-form id="form"
	[formData]="employee">
	<dxi-item itemType="group" cssClass="second-group" [colCount]="2">
		<dxi-item itemType="group">
      <dxi-item dataField="TicketTitle"></dxi-item>
      <dxi-item dataField="RemedyTicketNumber"></dxi-item>
      <dxi-item dataField="FirstName"></dxi-item>
			<dxi-item dataField="LastName"></dxi-item>
			<dxi-item dataField="Mobile" [label]="{text: 'Work Phone'}" [editorOptions]="{ mask: '+1 (000) 000-0000'}"></dxi-item>
			<dxi-item dataField="PocEmail"></dxi-item>
			<dxi-item dataField="SupervisorFullName"></dxi-item>
			<dxi-item dataField="Directorate" editorType="dxSelectBox" [editorOptions]="{ items: Directorates}"></dxi-item>
		</dxi-item>
		<dxi-item itemType="group">
        <dxi-item dataField="Service" editorType="dxSelectBox" [editorOptions]="{ items: Services}"></dxi-item>
        <dxi-item dataField="ForYouOrSomoneElse" editorType="dxSelectBox" [editorOptions]="{ items: forYouorSomeoneElse}"></dxi-item>
        
				<dxi-item dataField="SubmitingFor"></dxi-item>
        
			<dxi-item dataField="ForNewOrExistingTicket" editorType="dxSelectBox" [editorOptions]="{ items: ForNewOrExistingTickets }"></dxi-item>
        
				<dxi-item dataField="ExistingTicketNumber"></dxi-item>
				<dxi-item dataField="SuspenseDate" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
			
			<dxi-item dataField="OfficeSymbol" editorType="dxSelectBox" [editorOptions]="{ items: OfficeSymbols}"></dxi-item>
			<dxi-item dataField="Area" editorType="dxSelectBox" [editorOptions]="{ items: Areas}"></dxi-item>
		</dxi-item>
		<dxi-item dataField="TicketDescription" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 140 }"></dxi-item>
	</dxi-item>
</dx-form>