<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
    
</div>
<div class="sidenav">
    <a routerLink=""><img src="./assets/images/Cerdec.png" class="sideBarLinkImage"></a>
    
    <a class="sideBarLinkFirst" routerLink="/newTicketForm">New Ticket</a>
    <a class="sideBarLink" routerLink="/CurrentTickets">Current Tickets</a>
    <a class="sideBarLink" routerLink="/dashboard">DashBoard</a>
    <a class="sideBarLink" routerLink="/ContactUs">Contact</a>
    <a class="sideBarLink" routerLink="/Admin">Admin</a>

</div>
<div class="main">
    <div class="headerTitleLeft"><h5>CATS</h5></div>
    <p class="headerTitleLeftPara">CERDEC Active Ticketing System</p>
    
    <router-outlet></router-outlet>
</div>

