<div class="headerTitle"><h3>{{headerTitle}}</h3></div>
<dx-button class="statisticsBTN" text="CATS Statistics" routerLink="/statistics"></dx-button>
<dx-data-grid 
id="gridContainer" 
[columnAutoWidth]="true"
[dataSource]="tasks"
[showBorders]="true">
<dxo-header-filter 
    [visible]="showHeaderFilter"></dxo-header-filter>
<dxo-search-panel 
    [visible]="true" 
    [width]="240" 
    placeholder="Search..."></dxo-search-panel>
<dxi-column 
    dataField="Task_ID"
    [width]="80" 
    dataType="number"></dxi-column>
<dxi-column 
    dataField="Task_Start_Date" 
    dataType="date" 
    caption="Start Date"></dxi-column>
<dxi-column 
    cssClass="employee"
    dataField="ResponsibleEmployee.Employee_Full_Name" 
    dataType="string"
    caption="Assigned To"
    [allowSorting]="false"></dxi-column>
<dxi-column 
    dataField="Task_Subject"
    [width]="350"
    dataType="string"
    caption="Subject"></dxi-column>
<dxi-column 
    dataField="Task_Status" 
    dataType="string"
    caption="Status"></dxi-column>
</dx-data-grid>